<div class="wrapper-biskit">
    <div class="head">
        <span><%= link_to 'Retour', root_path %></span>
        <h1>Biskit</h1>
    </div>
    <div class="result">
        <div class="dices">
            <section class="container">
                <div id="cube1">
                    <figure class="front">1</figure>
                    <figure class="back">2</figure>
                    <figure class="right">3</figure>
                    <figure class="left">4</figure>
                    <figure class="top">5</figure>
                    <figure class="bottom">6</figure>
                </div>
            </section>
            <section class="container">
                <div id="cube2">
                    <figure class="front">1</figure>
                    <figure class="back">2</figure>
                    <figure class="right">3</figure>
                    <figure class="left">4</figure>
                    <figure class="top">5</figure>
                    <figure class="bottom">6</figure>
                </div>
            </section>
        </div>
        <div class="roll-dices">
            <div class="btn-roll">
                <p>Lancer les dés</p>
            </div>
        </div>

        <div id="action">
            <p>10</p>
        </div>
    </div>

    <content>
        <div class="rules">
            <div class="rules-list hidden">
                <ul>
                    <li>Si vous consultez les règles durant la partie, <strong>"Perte des notions du jeux"</strong>, vous buvez une gorgée.</li>
                    <li>Si la personne concernée par le tirage met plus de 10 secondes à réagir, <strong>"Perte des notions du jeux"</strong>, elle boit une gorgée.</li>
                    <li><strong>3</strong> : Vous devenez Le Biskit. Dès que le chiffre 3 apparait sur l'une des faces, vous buvez une gorgée.</li>
                    <li><strong>7</strong> : Criez biskit tout en mettant votre pouce sur votre front. La dernière personne à l'avoir fait boit une gorgée.</li>
                    <li><strong>9</strong> : La personne avant vous doit boire une gorgée.</li>
                    <li><strong>10</strong> : Vous buvez une gorgée.</li>
                    <li><strong>11</strong> : La personne après vous doit boire une gorgée.</li>
                    <li><strong>Doubles</strong> : Distribuez quatre gorgées si c'est un double 4, deux gorgées si c'est un double 2... Vous avez compris. </li>
                    <li><strong>Double 1</strong> : Tout le monde boit une gorgée !</li>
                    <li><strong>Double 6</strong> : Inventez une règle !</li>
                </ul>
            </div>
            <div class="rules-btn">
                <p><i class="fas fa-sort-down"></i> Afficher les règles <i class="fas fa-sort-down"></i></p>
                <span class="hidden"><i class="fas fa-sort-up"></i> Masquer les règles <i class="fas fa-sort-up"></i></span>
            </div>
        </div>
    </content>
</div>