.wrapper-biskit {
    height: 110vh;
    .head {
        h1 {
            text-align: center;
        }
        span {
            padding: 10px;
        }
    }
}

.result {
    text-align: center;
}

.dices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.container {
    width: 200px;
    height: 160px;
    position: relative;
    perspective: 1000px;
}

// BTN ROLL DICES

.roll-dices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.btn-roll p {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(106,216,106,0.55);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 200px;
}

.white {
    color: rgba(106,216,106,0.55) !important;
    background-color: white !important;
}

.btn-roll p:hover {
    cursor: pointer;
}

.action {
    padding-top: 40px;
}


// RULES

.rules {
    text-align: center;
    ul {
        color: black;
        font-weight: 300;
        background-color: cornsilk;
        border: 1px solid black;
        border-radius: 2px;
        box-shadow: 0px 0px 36px bisque;
        padding: 30px;
        li {
            text-align: start;
        }
    }
    .rules-btn:hover {
        cursor: pointer;
    }
}

.hidden {
    opacity: 0;
}

// CUBE 1 


#cube1 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ( -100px );
    transition: transform 0.4s;
}

#cube1 figure {
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    border: 2px solid black;
    line-height: 160px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube1 .front  { 
    transform: rotateY(   0deg ) translateZ( 79px );
    background: hsla( 0, 100%, 50%, 0.7 ) 
}
#cube1 .back   { 
    transform: rotateX( 180deg ) translateZ( 79px );
    background: hsla( 0, 100%, 50%, 0.7 ) 
}
#cube1 .right  { 
    transform: rotateY(  90deg ) translateZ( 79px );
    background: hsla( 0, 100%, 50%, 0.7 ) 
}
#cube1 .left   { 
    transform: rotateY( -90deg ) translateZ( 79px );
    background: hsla( 0, 100%, 50%, 0.7 ) 
}
#cube1 .top    { 
    transform: rotateX(  90deg ) translateZ( 79px );
    background: hsla( 0, 100%, 50%, 0.7 ) 
}
#cube1 .bottom { 
    transform: rotateX( -90deg ) translateZ( 79px );
    background: hsla( 0, 100%, 50%, 0.7 ) 
}

#cube1.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube1.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube1.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube1.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube1.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube1.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }

// CUBE 2 

#cube2 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ( -100px );
    transition: transform 0.4s;
}

#cube2 figure {
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    border: 2px solid black;
    line-height: 160px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube2 .front  {
     transform: rotateY(   0deg ) translateZ( 79px ); 
     background: hsla( 0, 100%, 50%, 0.7 )
}
#cube2 .back   {
     transform: rotateX( 180deg ) translateZ( 79px ); 
     background: hsla( 0, 100%, 50%, 0.7 )
}
#cube2 .right  {
     transform: rotateY(  90deg ) translateZ( 79px ); 
     background: hsla( 0, 100%, 50%, 0.7 )
}
#cube2 .left   {
     transform: rotateY( -90deg ) translateZ( 79px ); 
     background: hsla( 0, 100%, 50%, 0.7 )
}
#cube2 .top    {
     transform: rotateX(  90deg ) translateZ( 79px ); 
     background: hsla( 0, 100%, 50%, 0.7 )
}
#cube2 .bottom {
     transform: rotateX( -90deg ) translateZ( 79px ); 
     background: hsla( 0, 100%, 50%, 0.7 )
}

#cube2.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube2.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube2.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube2.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube2.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube2.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }



// RESPONSIVE DESKTOP

@media (min-width: 500px) {
    .container {
        margin: 0px 10px;
    }
    .wrapper-biskit {
        height: 100vh;
    }
}