.wrapper-never {
    height: 100vh;
    .head {
        h1 {
            text-align: center;
        }
        span {
            padding: 10px;
        }
    }
    .question-wrapper {
        display: flex;
        justify-content: space-around;
        text-align: center;
        .question-center {
            padding: 95px 0px 0px 0px;
            .question {
                background-color: white;
                padding: 16px 10px 10px 10px;
                border-radius: 6px;
                p {
                    font-size: 20px;
                }
            }
            .next {
                padding: 30px 0px;
                button {
                    border: 1px solid rgb(255, 255, 255);
                    background-color: rgba(106,216,106,0.55);
                    border-radius: 6px;
                    color: rgb(255, 255, 255);
                    padding: 10px;
                    width: 200px;
                }
            }
        }
    }
}